Assets/ExportedContent
Assets/Mapbox
Assets/MapboxDevTools
Assets/TextMeshPro
Assets/ThirdPartyAssets
Assets/XR
/Build2
/NewBuild
/Logs
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
MaristMapExport.unitypackage
Build/
Build2/
Library/
*.a
*.resS
*.dSYM
*.framework